<div class="create-post">
    <form action="/api/post" method="POST">

        <label for="title">Title:</label>
        <br>
        <input type="text" name="title" placeholder="title">
        
        
        <select name="type">
            <option value="offer">Offer service</option>
            <option value="find">Find service</option>
        </select>
        <br>

        <label for="location">Location: </label>
        <input type="text" name="location" placeholder="location">
        <br>

        <label for="description"> Description:</label>
        <textarea name="description" placeholder="description" rows="7" cols="65"></textarea>
        <br>

        <label for="price">Price:</label>
        <br>
        <input type="number" name="price" placeholder="price">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>