<form action="/api/post" method="POST">
    <input type="text" name="title" placeholder="title">
    <select>
        <option value="offer">Offer service</option>
        <option value="find">Find service</option>
    </select>
    <input type="text" name="location" placeholder="location">
    <br>
    <textarea name="description" placeholder="description" rows="7" cols="65"></textarea>
    <br>
    <input type="number" name="price" placeholder="price">
    <!-- Choose from a category, or add a new one :-) -->
    <br>
    <input type="Submit" name="Post">
</form>