#view-post{
    margin-top: 10rem;
    border-radius: 10px;
    border-radius: 10px;
    background-color: #EAEBED;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 10px #bec0bb);
    background-color: #EAEBED;

}