<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./templates/navbar/navbar.css">
    <link rel="stylesheet" href="./templates/footer/footer.css">
    <link rel="stylesheet" href="./assets/fonts/fonts.css">
    <link rel="stylesheet" href="./components/feed/feed.css">
    <link rel="stylesheet" href="./components/login/login.css">
    <link rel="stylesheet" href="./components/post/createPost.css">
    <script src="https://kit.fontawesome.com/5ead29c332.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div id="navbar">

        <a class="home selected" href="/"><img src="./assets/pictures/H2H_logo.png" width="100" height="auto"></a>
        <a href="">Provided services</a>
        <a href="">Requested services</a>
        <a href="/createPost">Post an ad</a>
        <div id="search">
            <input type="text" name="Search" placeholder="Search...">
            <input type="submit" value="Search">
        </div>
        <a id="profile">Profile</a>
    </div>
    <div class="content">