    <title>Document</title>
</head>
<body>
    <div id="navbar">

        <a class="home selected" href="/"><img src="./assets/pictures/H2H_logo.png" width="100" height="auto"></a>
        <a href="">Provided services</a>
        <a href="">Requested services</a>
        <div id="search">
            <input type="text" name="Search" placeholder="Search...">
            <input type="submit" value="Search">
        </div>
        <a href="/login" id="profile">Log-in</a>
    </div>
    <div class="content">