body {
    display: contents;
    font-family: SourceSansPro-regular;
}

.content{
    margin-top: 70px;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.116) 10%, #E5E5E5 90%);
}

#navbar {
    z-index: 1;
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: 6rem;
    float: top;
    position: fixed;
    background-color: #284B63;
}

#navbar a {
    padding-left: 3rem;
    padding-top: 2.27rem;
    padding-bottom: 0rem;
    display: inline-block;
    text-align: center;
    font-family: SourceSansPro-regular;
    color: #B4B8AB;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
}

#navbar a.selected {
    color: #F4F9E9;
}

#navbar a:hover:not(.selected){
    color: #F4F9E9;
}


#profile {
    float: right;
    margin-right: 2rem;
    cursor: pointer;
}

#search {
    margin-left: 60px;
    display: inline-flex;
}

#search input[type=submit]{
    margin-top: 5px;
    margin-left: 10px;
    height:  40px;
    border-radius: 5px;
}

#search input[type=text]{
    background-color: #EEF0EB;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    height: 40px;
}

.home {
    float: left;
    padding-top: none;
    margin-top: -32px;
    margin-left: -30px;
}

