@font-face {
    font-family: SourceSansPro-Black;
    src: url('./fonts/SourceSansPro-Black.ttf');
}

@font-face {
    font-family: SourceSansPro-BlackItalic;
    src: url('./fonts/SourceSansPro-BlackItalic.ttf')
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url('./fonts/SourceSansPro-Bold.ttf')
}

@font-face {
    font-family: SourceSansPro-BoldItalic;
    src: url('./fonts/SourceSansPro-BoldItalic.ttf')
}

@font-face {
    font-family: SourceSansPro-ExtraLight;
    src: url('./fonts/SourceSansPro-ExtraLight.ttf')
}

@font-face {
    font-family: SourceSansPro-ExtraLightItalic;
    src: url('./fonts/SourceSansPro-ExtraLightItalic.ttf')
}

@font-face {
    font-family: SourceSansPro-Italic;
    src: url('./fonts/SourceSansPro-Italic.ttf')
}

@font-face {
    font-family: SourceSansPro-Light;
    src: url('./fonts/SourceSansPro-Light.ttf')
}

@font-face {
    font-family: SourceSansPro-LightItalic;
    src: url('./fonts/SourceSansPro-LightItalic.ttf')
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('./fonts/SourceSansPro-Regular.ttf')
}

@font-face {
    font-family: SourceSansPro-SemiBold;
    src: url('./fonts/SourceSansPro-SemiBold.ttf')
}

@font-face {
    font-family: SourceSansPro-SemiBoldItalic;
    src: url('./fonts/SourceSansPro-SemiBoldItalic.ttf')
}
















