
</head>
<body>
    
    <div id="navbar">
        <a class="home selected" href="/"><img src="./assets/pictures/H2H_logo.png" width="100" height="auto"></a>
        <a href="">Provided services</a>
        <a href="">Requested services</a>
        <a href="/createPost">Post an ad</a>
        <div id="search">
            <input type="text" name="Search" placeholder="Search...">
            <input type="submit" value="Search">
        </div>
        <a id="profile" onclick="openSidenav()">Profile</a>
    </div>
    <div class="sidenav" id="profileNavbar">
        <a>profile</a>
        <a>my offers</a>
        <a href="/logout">logout</a>
    </div>
    <script src="./templates/navbar/profileNavbar/profileNavbar.js"></script>
    <div class="content">
    
