.sidenav {
    height: 120%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #284b63a9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;
}
  
.sidenav a {
    margin: 10px;
    z-index: 1;
    font-weight: bold;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #B4B8AB;
    display: block; 
    cursor: pointer;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #F4F9E9;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.has-notification {
    animation-duration: 800ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* -webkit-animation:blink 1200ms infinite; */
}
@keyframes blink {
    from {
        color:#64665d;
    }
    to {
        color:#fffbfb;
    }
}
@-webkit-keyframes blink {
    from {
        color:#B4B8AB;
    }
    to {
        color:#ffffff;
    }
}

