<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/navbar/navbar.css">
    <link rel="stylesheet" href="../templates/footer/footer.css">
    <link rel="stylesheet" href="../assets/fonts/fonts.css">
    <link rel="stylesheet" href="../components/feed/feed.css">
    <link rel="stylesheet" href="../components/login/login.css">
    <link rel="stylesheet" href="../components/post/createPost.css">
    <link rel="stylesheet" href="../templates/navbar/profileNavbar/profileNavbar.css">
    <link rel="stylesheet" href="../templates/cookieModal/cookieModal.css">
    <link rel="stylesheet" href="../components/chat/chat.css">
    <link rel="stylesheet" href="../components/post/viewPost.css">
    <link rel="stylesheet" href="../components/chatList/chatList.css">
    <script src="https://kit.fontawesome.com/5ead29c332.js" crossorigin="anonymous"></script>
