.post{
    width: 30rem;
    height: auto;
    margin: 30px;
    background: linear-gradient(180deg, #E5E5E5 10%, rgba(255, 255, 255, 0) 90%);
    border: 1px solid #EEF0EB;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px;
}
.post-description{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}
#feed{
    display: flex;
}
#offers{
    justify-content: right;
}
#finds{
    justify-content: left;
}