body {
    display: contents;
}

#navbar {
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: 6rem;
    float: top;
    position: sticky;
    background-color: #284B63;
}

#navbar a {
    padding-left: 3rem;
    padding-top: 2.27rem;
    padding-bottom: 0rem;
    display: inline-block;
    text-align: center;
    font-family: SourceSansPro-regular;
    color: #B4B8AB;
    font-size: 24px;
    font-weight: bolder;

    text-decoration: none;
}

#navbar a.selected {
    color: #F4F9E9;
}

#navbar a:hover:not(.selected){
    color: #F4F9E9;
}


#profile {
    float: right;
    margin-right: 2rem;
}

#search {
    display: inline-block;
    margin-left: 3rem;
    margin-top: 0.7rem;
}
#search input{
    background-color: #EEF0EB;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
}

.home {
    float: left;
}