@font-face {
    font-family: SourceSansPro-Black;
    src: url('./SourceSansPro-Black.ttf');
}

@font-face {
    font-family: SourceSansPro-BlackItalic;
    src: url('./SourceSansPro-BlackItalic.ttf')
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url('./SourceSansPro-Bold.ttf')
}

@font-face {
    font-family: SourceSansPro-BoldItalic;
    src: url('./SourceSansPro-BoldItalic.ttf')
}

@font-face {
    font-family: SourceSansPro-ExtraLight;
    src: url('./SourceSansPro-ExtraLight.ttf')
}

@font-face {
    font-family: SourceSansPro-ExtraLightItalic;
    src: url('./SourceSansPro-ExtraLightItalic.ttf')
}

@font-face {
    font-family: SourceSansPro-Italic;
    src: url('./SourceSansPro-Italic.ttf')
}

@font-face {
    font-family: SourceSansPro-Light;
    src: url('./SourceSansPro-Light.ttf')
}

@font-face {
    font-family: SourceSansPro-LightItalic;
    src: url('./SourceSansPro-LightItalic.ttf')
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('./SourceSansPro-Regular.ttf')
}

@font-face {
    font-family: SourceSansPro-SemiBold;
    src: url('./SourceSansPro-SemiBold.ttf')
}

@font-face {
    font-family: SourceSansPro-SemiBoldItalic;
    src: url('./SourceSansPro-SemiBoldItalic.ttf')
}
















